<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionapp120230527112940.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c2d33e21-789d-44c1-a753-26e0f6f7befa/resourceGroups/azureFuncDemo/providers/Microsoft.Web/sites/FunctionApp120230527112940</ResourceId>
    <UserName>$FunctionApp120230527112940</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://functionapp120230527112940.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>