<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://rtlswizardsfunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/5331c374-7e39-4c8e-b04e-03dc53e4872a/resourceGroups/RTLS_Wizards/providers/Microsoft.Web/sites/rtlswizardsfunctions</ResourceId>
    <UserName>$rtlswizardsfunctions</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://rtlswizardsfunctions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>